body {
    background-color: black;
    color: #DDD;
    padding: 10px;
}

.stage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

header h1{
    font-size: 3rem;
    margin-bottom: .6rem;
}

.scene {
    border: white ridge 6px;
    padding: 1rem;
}

.scene img {width: 100%}

#search{
    margin: 1rem 0;
    min-width: 35%;
    max-width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
}

footer p{
    font-size: .6rem;
    color: #AAA;
    text-align: center;
}

@media screen and (max-width: 768px) {
    main{grid-template-columns: 1fr 1fr;}
    
}

@media screen and (max-width: 500px) {
    main{grid-template-columns: 1fr;}
    header h1{font-size: 1.4rem;}
    #search{
        padding: .2rem;
    font-size: 1rem;
    width: 100%;
    }
}